* {
  margin: 0;
  padding: 0;
}

.wrapp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#random {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
